<div id="final-section">
  <mat-card class="final-section-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rezultaty</mat-card-title>
      <mat-card-subtitle>
        <p id="finalDescription">{{summary}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label for="name">Twoje Imię</mat-label>
        <input matInput placeholder="Podaj swoje imię" type="text" id="name" name="name"
               [(ngModel)]="personalDetails.name"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="surname">Twoje Nazwisko</mat-label>
        <input matInput placeholder="Podaj swoje nazwisko" type="text" id="surname" name="surname"
               [(ngModel)]="personalDetails.surname"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="email">Twój Email</mat-label>
        <input matInput placeholder="Podaj swój Email" type="email" name="email" id="email"
               [(ngModel)]="personalDetails.email" required>
        <mat-error *ngIf="emailInput.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" class="goals-completed" type="submit" (click)="sendByEmail()">
        Wyślij Emailem
      </button>

    </mat-card-content>
    <p>lub</p>
    <mat-card-content>
      <button mat-raised-button color="accent" class="goals-completed" type="submit" (click)="exportToPDF()">
      Eksportuj do PDF
    </button>
    </mat-card-content>
  </mat-card>
</div>
