#finalDescription {
  margin: 0 auto;
  width: 60%;
  font-size: larger;
}

.mat-card-title {
  font-size: xx-large;
}

mat-form-field {
  width: 30%;
}

#goals-completed {
  width: 30%;
  height: 50px;
  font-size: x-large;
  //margin: 25px 0;
}

