#lifeList {
  height: auto;
  min-height: 200px;
  background-color: #eaeaea;
  resize: none;
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
  padding: 1em;
}

#goal-boxes-section {
  height: 1500px;
}

.mainContent {
  height: 100%;
}

#draggable-goals-list {
  border: solid deepskyblue 1px;
}

.noselect {
  user-select: none;
}
