#clock-goals-section {
  margin: 0 25px 25px 0;
  //display: inline-block;
  vertical-align: top;
}

#lifeList {
  height: auto;
  min-height: 200px;
  background-color: #eaeaea;
  resize: none;
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
  padding: 1em;
}

#goal-boxes-section {
  height: 1500px;
}

.mainContent {
  height: 100%;
}

#draggable-goals-list {
  border: solid deepskyblue 1px;
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-goal {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;  color: indianred;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.draggable-goal:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  color: navy;
}

.draggable-goal:last-child {
  border: none;
}

.clock-goals-list {
  border: solid 1px green;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.noselect {
  user-select: none;
}
