html, body { height: 100%; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 90%;
}

p {
  text-indent: 2.5em;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 12px;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  height: 100vh;
}

header {
  color: white;
  font-size: 14px;
  grid-area: header;
  text-align: center;
}

app-navigation-bar {
  grid-area: nav;
  margin-left: 0.6rem;
}

main {
  grid-area: content;
  padding: 0 25px 25px 25px;
}

aside {
  grid-area: side;
  margin-right: 0.6rem;
}

footer {
  grid-area: footer;
  color: white;
  text-align: center;
  padding: 25px 0;
}


.nav-button {
  width: 100%;
  font-size: large;
  height: 50px;
  margin-bottom: 5px !important;
  display: inline-block;
  white-space: pre-wrap !important;
}

.section-divider {
  min-height: 50px;
}

.continue-button, .complete-button {
  white-space: pre-wrap !important;
}

button {
  height: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
