.goals-block {
  height: 100px;
  width: 90%;
  border: red 2px solid;
  background-color: lightgrey;
  border-radius: 15px;
  //display: block;
}

.goals-box-description {
  min-height: 120px;
  width: 90%;
}


