<mat-accordion>
  <mat-expansion-panel [expanded]="isSectionCompleted === false" (opened)="isSectionCompleted = false"
                       (closed)="isSectionCompleted = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 [id]="blockId + '-title'">{{blockTitle}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="goals-box-description">
      <p>{{!!blockDescription ? blockDescription : 'Trwa ładowanie opisu...'}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div [id]="blockId" class="goals-block clock-goals-list" cdkDropList
     [cdkDropListData]="goals"
     (cdkDropListDropped)="onDrop($event)">
  <div class="draggable-goal" *ngFor="let goal of goals" cdkDrag>
    <div class="example-handle">
      <svg width="24px" fill="purple" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <div style="margin-left: 10px">{{goal}}</div>
  </div>
</div>

<button mat-raised-button color="primary" [id]="blockId + '-submit'" (click)="completeSection()" [name]="blockId"
        class="buttons">Kontynuuj
</button>
