<h3 [id]="blockId + '-title'">{{blockTitle}}</h3>
<div class="goals-box-description">
  <p>{{!!blockDescription ? blockDescription : 'The description is loading...'}}</p>
</div>

<div [id]="blockId" class="goals-block clock-goals-list" cdkDropList
     [cdkDropListData]="goals"
     (cdkDropListDropped)="onDrop($event)">
  <div class="draggable-goal" *ngFor="let goal of goals" cdkDrag>{{goal}}</div>
</div>

<button mat-raised-button color="primary" [id]="blockId + '-submit'" (click)="completeSection()" [name]="blockId"
        class="buttons">Continue
</button>
