<h3 [id]="goalsBlockId + '-title'">{{goalsBlockTitle}}</h3>
<div class="goals-box-description">
  <p>{{!!blockDescription ? blockDescription : 'The description is loading...'}}</p>
  <br/>
  <p>Please drag most important goals from left to right.
    When ready press the button and continue with instructions.</p>
</div>

<div [id]="goalsBlockId" class="goals-block"></div>

<button mat-raised-button color="primary" [id]="goalsBlockId + '-submit'" (click)="completeSection()" [name]="goalsBlockId" class="buttons">Continue</button>
