@import '../draggable';

.description {
  font-size: large;
  width: 60%;
}

#clock-goals-section {
  margin: 0 25px 25px 0;
  vertical-align: top;
}

#lifeList {
  height: auto;
  min-height: 200px;
  background-color: #eaeaea;
  resize: none;
  display: block;
  width: 70%;
  margin: 0 0 2em 0;
  padding: 1em;
}

#goal-boxes-section {
  min-height: 1500px;
  height: 100%;
}



#lifeListAccordion {
  width: 70%;
  height: 100%;
}

#draggable-goals-list {
  border: solid deepskyblue 1px;
  width: 70%;
}

.clock-goals-list {
  border: solid 1px green;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  //overflow: hidden;
  //display: block;
}

.grid-tile {
  height: 100%;
}

