<div id="mainContent">
  <div id="tdForTextArea">
    <textarea id="lifeList" #lifeList required
              placeholder="Wypisz lub wklej tutaj swoje cele oddzielając je przyciskiem Enter."></textarea>
    <button mat-raised-button color="primary" id="listCompleteButton" name="listComplete"
            (click)="listSubmitted(lifeList.value)">Zatwierdź listę
    </button>
    <p class="description">{{listInstructions}}</p>
  </div>
  <hr>
  <div id="clock-goals-section" cdkDropListGroup>
    <div id="draggable-goals-list" *ngIf="areGoalsSubmitted" class="noselect clock-goals-list" cdkDropList
         (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="lifeGoals">
      <div class="draggable-goal" *ngFor="let lifeGoal of lifeGoals" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <app-draggable-goal [lifeGoal]="lifeGoal"></app-draggable-goal>
      </div>
      <button mat-raised-button color="warn" id="cleanGoalsButton" name="cleanGoalsButton"
              (click)="startOver()">Zacznij od Nowa
      </button>
    </div>
    <mat-grid-list *ngIf="areGoalsSubmitted" id="goal-boxes-section" cols="2" rowHeight="fit">
      <mat-grid-tile *ngFor="let goal of goalsTexts; index as index">
        <app-goals-box [blockId]="goal.id" [blockTitle]="goal.title"
                       [blockDescription]="goal.description" [index]="index"
                       (sectionSubmitted)="sectionCompleted($event)"
                       *ngIf="index <= currentlyVisibleSection"></app-goals-box>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <hr>
  <div>
    <p id="finalDescription" class="description goals">{{summary}}</p>
    <app-completed-goals></app-completed-goals>
  </div>

  <div>
    <button mat-raised-button color="accent" id="goalsCompleteButton" type="submit" name="goalsComplete">Zatwierdź
      Cele
    </button>
  </div>

  <br/>
  <div id="goalsBtnDiv">
    <button mat-raised-button color="primary" id="goalsFixedButton" type="button" name="goalsFixedButton">_</button>
    <p>Wróć na górę strony</p>
  </div>

</div>
