<div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="isSectionCompleted === false" (opened)="isSectionCompleted = false"
                         (closed)="isSectionCompleted = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 [id]="blockId + '-title'">{{blockTitle}}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="goals-box-description">
        <p>{{!!blockDescription ? blockDescription : 'Trwa ładowanie opisu...'}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div [id]="blockId" class="goals-block clock-goals-list" cdkDropList
     [cdkDropListData]="lifeGoals"
     (cdkDropListDropped)="onDrop($event)">
  <div class="draggable-goal" *ngFor="let goal of lifeGoals" cdkDrag>

    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <app-draggable-goal [lifeGoal]="goal"></app-draggable-goal>
  </div>
</div>

<button mat-raised-button color="primary" *ngIf="!isSectionCompleted" [id]="blockId + '-submit'"
        (click)="completeSection()" [name]="blockId"
        class="buttons">Kontynuuj
</button>
