@import '../draggable';

.goals-block {
  min-height: 100px;
  border: red 2px solid;
  border-radius: 15px;
}

.goals-box-description {
  min-height: 100px;
  font-size: large;
}

.mat-form-field + .mat-form-field {
  margin-left: 10px;
}

